h1.text-blue-darker.mt-4 Upload a Video

= render("form.html", Map.put(assigns, :action, Routes.video_path(@conn, :create)))

= link("Back", to: Routes.video_path(@conn, :index), class: "inline-block asign-baseline font-bold text-sm text-blue hover:text-blue-darker")

javascript:
  window.userToken = "#{assigns[:user_token]}";
